 .terminal-card-header {
    background: #2c2c2c;
    color: #f7f5e5;    
     text-align: center;
     font-family: monospace;
     font-size: 14px;
     font-weight: bolder;
 
 }
 
 .terminal-card-body {
    background: rgba(75, 68, 66, 1);
    color: rgba(255,255,255,0.9);
     font-family: monospace;
     font-size: 14px;
     font-weight: bold;
 }

 #quote {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 20px;
    color: #f7f5e5;   
}
 
#windowControls {
    position: absolute;
    right: 10px;
    top: 10px;
}

small {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);

}

.dice-container {
    text-align: center;
    margin: 30px auto;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;} 
    from {transform:rotate(180deg);}
    to {transform:rotate(360deg);}
 } 

.dice img{
    height:100px;
    width:100px;
    margin: 20px 10px;
    animation-name: fadeIn;
    animation-duration: 1s;

}

@media only screen and (max-width: 600px) {

    #windowControls {
        display: none;
    }
}